<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/px-sample-cards/blank-card.html">
<link rel="import" href="../../bower_components/px-view-header/px-view-header.html">
<link rel="import" href="../../bower_components/google-youtube/google-youtube.html">

<dom-module id="welcome-view">
  <template>
    <px-card header-text="Wedding Celebration" chevron="true" icon="fa-fighter-jet">
      <h2>
        <p align="center"><B>Hải Duy & Phương Thảo</B></p>
      </h2>
      <p align="center">07-01-2017</p>
      <p align="center">Thank you for comming and saving the date with us</p>
      <!--Clip-->
      <!--Eru8DlHoOFM-->
      <div align="center">
        <google-youtube
          video-id="lCvZSI7XJ_g"
          height="270px"
          width="480px"
          rel="0"
          start="5"
          autoplay="1">
        </google-youtube>
      </div>
    </px-card>
  </template>
  <script>
    Polymer({
      is: 'welcome-view',
      properties: {},
      ready: function() {
        console.log('welcome-view ready()')
      }
    });
  </script>
</dom-module>
